// Colores

$colorPrincipal : #0091A3;
$colorSecundario : #00A9BD; 
$colorTerciario : #00707e;

$theme-colors: (
  "primary": $colorPrincipal,
  "secondary": $colorSecundario,
  "tertiary": $colorTerciario
);