// COLORES

@import "color.scss";

// TIPOGRAFIAS

@import "fonts.scss";

// Elementos

@import "header.scss";

@import "carousel.scss";

@import "comentarios.scss";

@import "servicios.scss";

@import "footer.scss";


// Importar Bootstrap

@import "../bootstrap/bootstrap";