@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*Cambiar color de fondo*/
.container-fluid{
    background-color: #00A9BD;
}
/*Color de fondo cabecera*/
.bg-dark1 {
    background-color: #0091A3 !important;
}
/*Color de fondo footer superior*/
.footerup {
    background-color: #0091A3;
    color: rgb(255,255,255,0.9);
}
/*Color de fondo footer inferior*/
.footerdown {
    background-color: #00707e;
    color: rgb(255,255,255,0.9);
}
 

/* .footeru {
    background-color: #0091A3;
    color: rgb(255,255,255,0.75);
    padding: 15px;
} */
.footeru h4 {
    text-align: center;
    color: rgb(255,255,255,0.9);
}
.footeru li {
    list-style: none;
}
.footeru span {
    display: table;
    margin: 0 auto;        
}
.footerd {
    background-color: #00707e;
    color: rgb(255,255,255,0.9);
    text-align: center;
}
.footerd p {
    margin: 1rem;
}

.cortel {
    color: rgb(255,255,255,0.75);
}
.cortel:hover {
    color: rgb(255,255,255,0.9);
}

.citaprevia {
    background-image: url(img/citaPrevia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%; 
    position: relative;
    
}

.poiretone  {
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Monserrat', sans-serif;
}
.fullcarro {
    padding: 0px
}

.row{
    padding: 10px;
}
/*poner comentarios en tamaño correcto*/
.img-thumbnail, .rounded-circle{
    width: 200px;
    height: 200px;
  }
  .col h2, .col h3{
    font-size: 2em;
  }
  .col p{
    font-size: 1em;
    text-align: justify;
  }

 /* Adaptar tamaño imagen a tarjetas *
.card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    }