@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.bg-dark1 {
    background-color: #0091A3 !important;
}

.footeru {
    background-color: #0091A3;
    color: rgb(255,255,255,0.75)
}
.footeru h4 {
    text-align: center;
    color: rgb(255,255,255,0.9);
}
.footeru li {
    list-style: none;
}
.footerd {
    background-color: #00707e;
    color: rgb(255,255,255,0.9);
    text-align: center;
}
.footerd p {
    margin: 1rem;
}

.poiretone  {
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Monserrat', sans-serif;
}