@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.bg-dark1 {
    background-color: #0091A3 !important;
}

.footeru {
    background-color: #0091A3;
}

.footerd {
    background-color: #00707e;
}

.poiretone  {
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Monserrat', sans-serif;
}