
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

body {
    margin: auto;
}
header {
    background-color: #0091A3;
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
}
header img {

}
header nav a {
    height: 50px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 250px;
}
footer {
    background-color: #00707E;
}